.game-info {
  width: 70%;
  margin: 0 auto;
  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__left {
      height: 400px;
      width: 300px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &__right {
      color: white;
      font-size: 30px;
      width: 40%;
      padding: 40px;
      background-color: $site-purple;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__title {
      }
      &__platforms {
      }
      &__publishers {
      }
      &__wishlist {
        height: 60px;
        font-size: 30px;
        background-color: $site-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        p {
          margin-bottom: 0;
        }
        i {
          margin-left: 10px;
        }
      }
    }
  }
  &__description {
    padding: 15px;
    color: white;
    font-size: 20px;
    margin: 40px auto;
    height: fit-content;
    width: 70%;
    background-color: $site-purple;
  }
  &__screenshots {
    margin: 40px auto;
    height: fit-content;
    width: 70%;
    background-color: $site-purple;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 10px;
    padding: 10px;
    .screenshot {
      height: 100px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .game-info {
    width: 80%;
    &__screenshots {
      gap: 10px 10px;
    }
  }
}

@media only screen and (max-width: 880px) {
  .game-info {
    width: 90%;
  }
}

@media only screen and (max-width: 775px) {
  .game-info {
    width: 90%;
    &__top {
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      &__left {
        width: 70%;
      }
      &__right {
        width: 70%;
        margin-bottom: 40px;
      }
    }
    &__screenshots {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media only screen and (max-width: 660px) {
  .game-info {
    &__top {
      &__left {
        width: 90%;
      }
      &__right {
        width: 90%;
      }
    }
    &__description {
      width: 90%;
      font-size: 18px;
    }
    &__screenshots {
      width: 90%;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (max-width: 450px) {
  .game-info {
    &__screenshots {
      grid-template-columns: 1fr;
    }
  }
}
